streamlit
requests
python-dotenv
fastapi
uvicorn
selenium
beautifulsoup4
rapidfuzz
sqlalchemy
ollama
pydantic-settings
mcp
flask
passlib
python-jose[cryptography]
streamlit
bycrypt==4.0.1
selenium
beautifulsoup4
lxml